.popup__content {
    width: 100%;
    margin: 195px auto;
    max-width: 430px;
    max-height: 330px;
    padding: 34px 36px 37px;
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media (max-width: 767px) {
    .popup__content {
        margin: 123px auto;
        max-width: 282px;
        max-height: 322px;
        padding: 25px 22px;
    }
}